<!DOCTYPE html>
<html>
  <head>
      <style type="text/css">
         body{
         	margin: 0 auto;
         }
         #left
         {
         	background-color: yellow;
         	float: left;
         	width: 200px;
         	height: 500px;
         }
         #main{
            background-color: green;
            margin-left: 205px;
            margin-right: 205px;
            height: 500px;
         }
         #right{
         	background-color: blue;
         	width: 200px;
         	height: 500px;
            float: right;
         }

      </style>

  </head>

  <body>
     <div id="left">
  
     </div>
     <div id="right">

     </div>

     <div id="main">

     </div>

  </body>


</html>